.container_meanings {
    gap: 1em;
    display: flex;
    flex-direction: column;
}

.container_meanings fieldset {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: 1px solid var(--light);
}

.container_meanings legend {
    font-weight: 600;
    padding-right: 1em;
    margin-bottom: 1em;
}

.container_meanings p {
    color: var(--grey);
}

.container_meanings ul {
    margin-left: 3em;
    margin-bottom: 2em;
}

.container_meanings ul li {
    margin-bottom: 10px;

    position: relative;
    list-style-type: none;
}

.exemple {
    color: var(--grey);
    margin-bottom: 10px;
}

.container_meanings ul li::before {
    left: -1em;
    content: '•';
    position: absolute;
    color: var(--purple);
    display: inline-block;
}
