.container_word_sound {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_word_sound h1 {
    font-size: 3em;
}

.phonetic {
    font-size: 1.3em;
    color: var(--purple);
}