:root {
    --grey: #757575;
    --pink: #E9D0FA;
    --light: #EEEEEE;
    --white: #FFFFFF;
    --black: #000000;
    --purple: #A747EF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container_main {
    margin: 3em;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}